# ======================================
# Config ===============================
php:
	date.timezone: Europe/Prague
	# session.save_path: %tempDir%/session

# ======================================
# Extension ============================
extensions:
	# Messenger
	contributte.messenger: Contributte\Messenger\DI\MessengerExtension

	# Console
	contributte.console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

	# Event Dispatcher
	contributte.events: Contributte\EventDispatcher\DI\EventDispatcherExtension

	# Nettrine
	nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
	nettrine.cache: Nettrine\Cache\DI\CacheExtension
	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
	nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension

	# Nettrine DBAL
	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension

	# Nettrine ORM
	nettrine.orm: Nettrine\ORM\DI\OrmExtension

# ======================================
# Extensions (config) ==================
contributte.messenger:
	transport:
		redis:
			dsn: "redis://contributte@0.0.0.0:6379/messages/skeleton/consumer?auto_setup=true&lazy=true&dbindex=0"
		sync:
			dsn: "sync://"
		db:
			dsn: "doctrine://default"

	routing:
		App\Domain\LogMessage: [redis]

nettrine.dbal:
	debug:
		panel: %debugMode%
	connections:
		default:
			driver: pdo_pgsql
			host: 0.0.0.0
			user: postgres
			password: contributte
			dbname: contributte
			port: 5432
			serverVersion: "15"

nettrine.orm:
	managers:
		default:
			connection: default
			entityManagerDecoratorClass: Nettrine\Extra\EntityManager
			autoGenerateProxyClasses: %debugMode%
			mapping:
				App\Domain:
					directories: [%appDir%/Domain]
					namespace: App\Domain

nettrine.migrations:
	table: doctrine_migrations
	column: version
	directories:
		Database\Migrations: %appDir%/../db/Migrations
	versionsOrganization: null

# ======================================
# Services =============================
services:
	- App\Model\LoggerService(%tempDir%/messages.txt)
	- App\Domain\LogHandler
